<h1>Information about <%= @offering.name %></h1>
<% if @offering.discounts.any?%>
<h2>Book <%=@offering.discounts.first.num_people %> or more and get <%= @offering.discounts.first.percentage %> off</h2>
<% end %>
